@model IEnumerable<QD_Tour_Web.Models.Tour_Package>

@{
    ViewBag.Title = "华康旅游 - 国内旅游预约";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section-paddings incredible-places">
    <div class="container">
        <section class="popular-packages">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="section-title">
                            <h2>国内旅游预约</h2>
                            <p>....</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    @foreach (var tourPackage in Model)
                    {
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                            <div class="single-package">
                                <div class="package-image">
                                    <img src="http://localhost:59442/@tourPackage.Photo" alt="" style="width:100%; height:300px">
                                </div>
                                <div class="package-content">
                                    <h3><a href="" title="">@tourPackage.Tour.Province &nbsp; @tourPackage.Tour.Course</a></h3>
                                    <p>@(tourPackage.Tour.TourDate - 1)夜@(tourPackage.Tour.TourDate)日 &nbsp; &nbsp;</p>
                                </div>
                                <div class="package-calto-action">
                                    <ul class="ct-action">
                                        <li><a href="/Tour/Details/@tourPackage.Id" class="travel-booking-btn hvr-shutter-out-horizontal">查看详情</a></li>
                                        <li>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div> <!-- single package end -->
                    }
                </div>
            </div>
        </section> <!--end  popular packajge -->

    </div>
</div>